.Main
  .Main__header
    .Main__header__left
      .Main__header__left__name
        =@group.name
        .member_name
          Member:
          - @group.users.each do |member|
            =member.name

    .Main__header__right
      =link_to edit_group_path(current_user), class:"Main__header__right__edit"do
        Edit
  .Main__main
    = render @messages
  .Main__footer
    = form_with model: [@group, @message], html: {class: "Main__footer__form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__text__image' do
          = icon('far', 'image', class: 'input-box__text__image__icon')
          = f.file_field :image, class: 'input-box__text__image__file'
      = f.submit 'Send', class: 'Main__footer__form__send'